{% extends 'publish/base.html' %}
{% load static %}

{% block content %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">确认订单</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
    <h5 class="order-tit">收货人信息</h5>
    <div class="order-name">
        <a href="gladdress.html">
            <p class="order-tele">{{ order.username }}&nbsp;&nbsp;&nbsp;{{ order.telephone }}</p>
            <p class="order-add">{{ order.address }}</p>
        </a>
    </div>
    <div style="background: #eee; height: 10px;"></div>
    <h5 class="order-tit">确认订单信息</h5>
    <ul class="shopcart-list" style="padding-bottom: 0; margin-top: 0;">
        {% for o in order.ordergoods_set.all %}
            <li>
                <img src="{{ MEDIA_URL }}{{ o.goods_sku.sku_address }}" class="shop-pic"/>
                <div class="order-mid">
                    <div class="tit">{{ o.goods_sku.spu_id.spu_name }}{{ o.goods_sku.sku_name }}</div>
                    <div class="order-price">￥{{ o.price }}<i>X{{ o.count }}</i></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <ul class="order-infor">
        <li class="order-infor-first">
            <span>商品总计：</span>
            <i>￥{{ order.order_amount }}</i>
        </li>
        <li class="order-infor-first">
            <span>运输方式：{{ order.transport }}</span>
            <i>{{ order.transport_price }}</i>
        </li>
    </ul>
    <!--<div style="background: #eee; height: 10px;"></div>

    <input id="beginTime" class="select-time" placeholder="请选择配送时间 >" /></div>
    <div id="datePlugin"></div>-->
    <ul class="pay-style">
        <li>
            <img src="{% static 'images/zhi.png' %}" width="50"/>
            <span>
		   	 		<p>支付宝</p>
		   	 		<p class="descript">推荐有支付宝账号的用户使用</p>
		   	 	</span>
            <label class="am-radio-inline">
                <input type="radio" checked="checked" name="radio10" value="1" data-am-ucheck>
            </label>
        </li>
        <li>
            <img src="{% static 'images/wei.png' %}" width="50"/>
            <span>
		   	 		<p>微信支付</p>
		   	 		<p class="descript">推荐安装微信5.0及以上版本的使用</p>
		   	 	</span>
            <label class="am-radio-inline">
                <input type="radio" name="radio10" value="1" data-am-ucheck>
            </label>
        </li>

    </ul>
    <div style="background: #eee; height: 10px;"></div>
    <textarea placeholder="备注说明" class="bz-infor"></textarea>
    <div style="background: #eee; height: 10px;"></div>
    <div style="height: 55px;"></div>
    <div class="shop-fix">
        <div class="order-text">
            应付总额：<span>￥{{ total_price }}</span>
        </div>
        <a href="{% url 'order:发起支付' %}?order_sn={{ order.order_sn }}" class="js-btn">提交订单</a>
    </div>
{% endblock %}


{% block foot %}
    <!--底部-->
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="index.html" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="shopcart.html" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="allorder.html" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="member.html" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}



