{% extends "publish/base.html" %}
{% load static %}

{% block content %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">确认订单</a>
        </h1>
    </header>
    <form action="{% url 'order:确认支付' %}" method="post" id="order_form">
        <div style="height: 49px;"></div>
        {% csrf_token %}
        {% if address %}
            <ul>
                <input type="hidden" name="address_id" value="{{ address.pk }}">
                <li>
                    <p>收货人：{{ address.username }}&nbsp;&nbsp;{{ address.telephone }}</p>
                    <p>收货地址：{{ address.hcity }}{{ address.hproper }}{{ address.harea }}{{ address.detail }}</p>
                    <hr/>
                </li>
            </ul>
        {% else %}
            <div class="add-address">
                <a href="address.html">+新建收货地址</a>
                <i class="am-icon-angle-right"></i>
            </div>
        {% endif %}
        <div style="background: #eee; height: 10px;"></div>
        <ul class="shopcart-list" style="padding-bottom: 0;">
            {% for sku in skus %}
                <li>
                    <input type="hidden" name="sku_id" value="{{ sku.id }}">
                    <img src="{{ MEDIA_URL }}{{ sku.sku_address }}" class="shop-pic"/>
                    <div class="order-mid">
                        <div class="tit">{{ sku.spu_id.spu_name }}&emsp;{{ sku.sku_name }}</div>
                        <div class="order-price">￥{{ sku.sku_price }} <i>X{{ sku.count }}</i></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <ul class="order-infor">
            <li class="order-infor-first">
                <span>商品总计：</span>
                <i>￥<span id="goods_price">{{ total_price }}</span></i>
            </li>
            <li class="order-infor-first">
                <span>运输方式：</span>
                <i>
                    <select name="transport" id="transport">
                        {% for tran in transport %}
                            <option value="{{ tran.pk }}"
                                    price="{{ tran.tran_price }}">{{ tran.tran_name }}-￥{{ tran.tran_price }}</option>
                        {% endfor %}
                    </select>
                </i>
            </li>
        </ul>
    </form>
    <div style="background: #eee; height: 10px;"></div>
    <textarea placeholder="备注说明" class="bz-infor"></textarea>
    <div style="background: #eee; height: 10px;"></div>
    <div style="height: 55px;"></div>
    <div class="shop-fix">
        <div class="order-text">
            应付总额：<span>￥<span id="sum_price">00.00</span></span>
        </div>
        <a href="javascript:;" class="js-btn">提交订单</a>
    </div>
{% endblock %}



{% block foot %}
    <div style="height: 55px;"></div>
    <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-5">
            <li>
                <a href="{% url 'shop:商城主页' %}" class="">
                    <span class="am-icon-home"></span>
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="message.html" class="">
                    <span class="am-icon-comments"></span>
                    <span class="am-navbar-label">动态</span>
                </a>
            </li>
            <li>
                <a href="{% url 'car:购物车界面' %}" class="">
                    <span class="am-icon-shopping-cart"></span>
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="allorder.html" class="">
                    <span class="am-icon-file-text"></span>
                    <span class="am-navbar-label">订单</span>
                </a>
            </li>

            <li>
                <a href="{% url 'user:个人中心' %}" class="curr">
                    <span class="am-icon-user"></span>
                    <span class="am-navbar-label">我的</span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
<body>

<!--底部-->

{% block foot_js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    <script>
        $(function () {
            // 计算总价格
            function total_price() {
                var goods_prcie = $("#goods_price").text();
                var tran_sprice = $("#transport").find(":selected").attr("price");
                // js中 也具有字符串相加
                var total = parseFloat(goods_prcie) + parseFloat(tran_sprice);
                $("#sum_price").text(total);
            }

            // 调用
            total_price();

            // 运输方式改变,需重新计算价格
            $("#transport").on("change", function () {
                total_price();
            })

            // 确认订单绑定点击事件,通过ajax提交订单数据
            $(".js-btn").on("click",function () {
                // console.debug(11);
                var data = $("#order_form").serialize();
                // 发送ajax请求
                $.ajax({
                    type:'POST',
                    url:"",
                    data:data,
                    dataType:"json",
                    success:function (data) {
                        // console.debug(data);
                        if(data.name==0){
                            location.href = "{% url 'order:确认支付' %}?order_sn="+data.order_sn;
                        }else {
                            console.debug(data.name)
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}
 
 


